@model IEnumerable<BasicGridApp.Models.Person>
@{
    ViewBag.Title = "Home Page";
    WebGrid grid = new WebGrid(Model);
}

<h2>List of Persons</h2>
@grid.GetHtml(columns: new[] { 
    grid.Column("ID"),
    grid.Column("FirstName"),
    grid.Column("LastName")
})